:root {
  --gradient: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );

  --border: 2px solid pink;
}
h2 {
  border: var(--border);
}
body {
  background: var(--gradient);
}
a {
  text-align: center;
}
