:root {
  --gradient: linear-gradient(
    109.5deg,
    rgb(229, 233, 177) 11.2%,
    rgb(223, 205, 187) 100.2%
  );

  --border: 2px solid pink;
}
h2 {
  border: var(--border);
}
body {
  background: var(--gradient);
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
}
footer a {
  text-align: center;
}
